body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #005f73;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  color: #0a9396;
  margin-top: 20px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e0fbfc; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #0a9396;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005f73;
}

p {
  text-align: center;
  font-size: 18px;
  background: #fefae0; 
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  max-width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

a {
  color: #005f73; 
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #0a9396;
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
  margin: 20px auto;
}

a:hover {
  background-color: #0a9396;
  color: white;
}
